<%- include('../partials/navbar') %>

<section class="hero-section">
    <div class="hero-sticky-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <div class="hi-text">
                        <span>100% Elite Equipment</span>
                        <h1>Not just a <br> gym, <strong>The Gym</strong></h1>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choseus-section spad text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title cs-title">
                        <br>
                        <span>PERCHÉ SCEGLIERCI?</span>
                        <h2>AFFIDATI AI PROFESSIONISTI !</h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
            <span><img src="/img/Logo/IMG_6713.PNG" alt="Cyclette" class="icon-img"></span>
            <h4>Attrezzature Moderne</h4>
            <p>Ampio parco macchine, attrezzi isotonici a carico diretto, zona powerlifting, area cardio e funzionale</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
            <span><img src="/img/Logo/IMG_6714.PNG" alt="Piani Nutrizionali" class="icon-img"></span>
            <h4>Piani Nutrizionali</h4>
            <p>Alimentazione personalizzata per raggiungere i propri obbiettivi, plicometria e misurazioni antropometriche</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
            <span><img src="/img/Logo/IMG_6712.PNG" alt="Schede" class="icon-img"></span>
            <h4>Schede Su Misura</h4>
            <p>Creiamo il tuo allenamento ad hoc per: preparazioni atletiche, bodybuilding, fitness e functional training</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="cs-item">
            <span><img src="/img/Logo/IMG_6711.PNG" alt="Percorso" class="icon-img"></span>
            <h4>Personalizza Il Tuo Percorso</h4>
            <p>Un percorso costruito interamente su di te. I nostri specialisti ti affiancheranno con un supporto costante.</p>
        </div>
    </div>
</div>
        </div>
    </section>

<section class="pricing-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center cs-title">
                    <span>I Nostri Piani</span>
                    <h2>Scegli il tuo Abbonamento</h2>
                    <br>
                </div>
            </div>
        </div>
        
        <div class="pricing-carousel owl-carousel owl-theme">
            
            <div class="ps-item">
                <h3>Occasionale</h3>
                <div class="pi-price">
                    <h2>Singolo</h2>
                    <span>10 €</span>
                </div>
                <ul>
                    <li>Accesso sala pesi</li>
                    <li>Nessun vincolo</li>
                    <li>Paghi quando ti alleni</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

            <div class="ps-item">
                <h3>Pacchetto</h3>
                <div class="pi-price">
                    <h2>10 Ingressi</h2>
                    <span>70 €</span>
                </div>
                <ul>
                    <li>Pari a <strong>7€</strong> ad ingresso</li>
                    <li>Nessuna scadenza</li>
                    <li>Accesso illimitato</li>
                    <li>Ideale se ti alleni saltuariamente</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

            <div class="ps-item">
                <h3>Base</h3>
                <div class="pi-price">
                    <h2>Mensile</h2>
                    <span>50 €</span>
                </div>
                <ul>
                    <li>Ingressi illimitati</li>
                    <li>Durata 30 giorni</li>
                    <li>Scheda base inclusa</li>
                    <li>Assistenza in sala</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

            <div class="ps-item">
                <h3>Silver</h3>
                <div class="pi-price">
                    <h2>Trimestrale</h2>
                    <span class="old-price">150 €</span>
                    <span>140 €</span>
                </div>
                <ul>
                    
                    <li>Risparmi 10€</li>
                    <li>Ingressi illimitati</li>
                    <li>Scheda base inclusa</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

            <div class="ps-item">
                <h3>Gold</h3>
                <div class="pi-price">
                    <h2>Semestrale</h2>
                    <span class="old-price">300 €</span>
                    <span>265€</span>
                </div>
                <ul>
                    <li>Risparmi 35€</li>
                    <li>Ingressi illimitati</li>
                    <li>Scheda base inclusa</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

            <div class="ps-item popular">
                <h3>Platinum</h3>
                <div class="pi-price">
                    <h2>Annuale</h2>
                    <span class="old-price">600 €</span>
                    <span>480 €</span>
                </div>
                <ul>
                    <li>Risparmi 120€!</li>
                    <li>Ingressi illimitati</li>
                    <li>Scheda base inclusa</li>
                    <li>Utilizzo spogliatoi e doccie</li>
                    <li>Accesso Wi-Fi</li>
                </ul>
                <a href="https://maps.app.goo.gl/n7yrhgbpX1tYQd7H8" class="primary-btn pricing-btn">Acquista in cassa</a>
            </div>

        </div>
    </div>
</section>
<section class="gallery-section spad">
    <div class="container">
        <div class="section-title cs-title">
                        <br>
                        <span>LA NOSTRA HALL OF FAME</span>
                        <h2>#OfficinaFitness</h2>
                        <br>
                    </div>
        <div class="row g-3"> <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/Donna plank.png" alt="Donna Plank">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/LAT.jpg" alt="Lat Machine">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/Pressa.jpg" alt="Pressa">
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/Shoulder.jpg" alt="Shoulder Press">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/Squat.jpg" alt="Squat">
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="gallery-item">
                    <img class="img-fluid" src="/img/IA foto/Stacco.jpg" alt="Stacco da terra">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center cs-title">
                    <span>Cosa dicono di noi</span>
                    <h2>Le Vostre Recensioni</h2>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/Testimonial/kate.png" alt="Marco Rossi">
                        </div>
                        <div class="ta-text">
                            <h5>Caterina Lavarino</h5>
                            <div class="ti-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Mi alleno e mi diverto,posso solo migliorare grazie al tuo aiuto. Non avrei mai immaginato di potercela fare nemmeno x 1/2 ora , invece grazie alle tue competenze e alla serenità dell'ambiente, ce la sto facendo. Anche alla mia età ! .</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/Testimonial/Ahandrea.png" alt="Giulia Bianchi">
                        </div>
                        <div class="ta-text">
                            <h5>Andrea Sturiale</h5>
                            <div class="ti-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Palestra all'avanguardia,dispone di ottimi macchinari. Christian,il proprietario, è disponibile, preparato e molto simpatico😊</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="testimonial-item">
                    <div class="ti-author">
                        <div class="ta-pic">
                            <img src="img/Testimonial/matteino.png" alt="Luca Verdi">
                        </div>
                        <div class="ta-text">
                            <h5>Matteo Jacopo Lingua</h5>
                            <div class="ti-rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>Da neofita posso solo che consigliare la palestra, ambiente stimolante e super fornito. Personale preparato, prezzi competitivi.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="bg-dark text-white text-center py-3 mt-auto">
    <p>&copy; 2025 Officina Fitness.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    $(document).ready(function(){
        $(".pricing-carousel").owlCarousel({
            loop: true,         
            margin: 30,         
            nav: true,          
            dots: true,         
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"], 
            responsive:{
                0:{
                    items:1     // Mobile
                },
                768:{
                    items:2     // Tablet
                },
                992:{
                    items:3     // Desktop
                }
            }
        });
    });
</script>
</body>
</html>